<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <title>Photo Gallery</title>
</head>
<body>
  <h1 class="h-gallery>">Gallery</h1>
   <section class="gallery">
     <img  src="/pictures/slash-jump.jpg" alt="slash">
     <img  src="/pictures/slash_julien-12.jpg" alt="slash">
     <img  src="/pictures/slash-portrait.jpg" alt="slash">
   </section>
 </body>
</body>
</html>