<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <title>Slash work</title>
</head>
<body>
  <h1 class="fea-work">Featured work</h1>
<section class="work">
  <div>
    <img src="/pictures/appetite-for-destruction.jpg" 
    alt="appetite-for-destruction">
      <ul>
        <li>Released: July 21, 1987</li>
        <li>30 million sold albums worldwide</li>
      </ul>
  </div>
  <div>
    <img src="/pictures/use-your-illusion-1.jpg" alt="use-your-illusion-1">
    <ul>
      <li>Released: September 17, 1991</li>
      <li>5.5 millions sold albums worldwide</li>
    </ul>
  </div>
  <div>
    <img src="/pictures/use-your-illusion-2.jpg" alt="use-your-illusion-2">
    <ul>
      <li>Released: September 17, 1991</li>
      <li>5.6 millions sold albums worldwide</li>
    </ul>
  </div>
</section>
</body>
</html>